.App {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  margin: 0 !important;
  padding: 5px 0 10px 0 !important;
  font-size: 30px !important;
  font-family: 'Indie Flower', cursive !important;
}

.logo-link {
  text-decoration: none;
}

.logo {
  margin-right: 5px;
  margin-bottom: 5px;
}