#root {
  padding: 10px 0;
}

.App {
  text-align: center;
}

h1 {
  margin: 0 !important;
  padding: 5px 0 !important;
  font-size: 28px !important;
  font-family: 'Indie Flower', cursive !important;
}