#map {
  width: 1028px;
  height: 610px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  margin-right: 20px !important;
}

.gmnoprint a, .gmnoprint span {
  pointer-events: none;
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.gmnoprint div:focus {
  outline: none;
}

.infoWindow {
  min-width: 165px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: left;
}

.infoWindowText {
  margin: 0;
  font-family: 'Indie Flower', cursive !important;
}

.country,
.city,
.note,
.name {
  display: inline-block;
  width: 65px;
  text-align: center;
  margin-top: 3px;
  margin-right: 10px;
  line-height: 14px;
  padding: 3px;
  border-radius: 3px;
  color: #ffffff;
  box-sizing: border-box;
}
.country {
  background-color: #EF5350;
}
.city {
  background-color: #42A5F5;
}
.note {
  background-color: #26A69A;
}
.name {
  background-color: #555555;
}

.infoWindowBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-family: 'Indie Flower', cursive !important;
}

.infoWindowBtnWrapper > button {
  width: 65px;
  line-height: 16px;
  font-size: 15px;
  font-family: 'Indie Flower', cursive !important;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}
.infoWindowBtnWrapper > button:focus {
  outline: 0;
}

.deleteBtn {
  background: rgba(158,158,158, 0.20);
}

.editBtn {
  color: rgb(255,255,255);
  background-color: rgb(255,64,129);
}